.background    { background: rgb(50, 17, 92);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.water         { background: rgb(0, 255, 0); }
.grass          { background: green;   }
.dirt          { background: brown;   }

.actor  { position: absolute;  }
.ruby  { background: red; }
.player { background: black; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
